@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1e3c72;
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
  background: linear-gradient(to right, #2a5298, #1e3c72);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
